<!-- Modal -->
<div class="modal fade" id={{ id }} tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle{{activity.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{ activity.name }}</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>            
        </div>
        <div class="modal-body">
            Vols eliminar l'activitat?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                CANCELAR
            </button>
            <button type="button" class="btn special-btn">
                ELIMINAR
            </button>
        </div>
        </div>
    </div>
</div>