{% apply inline_css(
    source('@styles/style.css')
) %}

    {% block header %}

        <header class="row border bg-primary m-3">
            <div class="navbar-brand d-flex gap-2 my-4 mx-2 align-items-center">
                <img class="nav__logo-email" src="{{ email.image('@images/LogoP-S.png') }}" alt="Logo" />
                <div class="">
                    <h1 class="navbar__title-email text-light">Prescripció Social Roquetes</h1>
                    {# <p class="text-light m-0">Entitat Ton i Guida</p> #}
                </div>
            </div>
        </header>

    {% endblock %}
    <main>
        {% block main %}{% endblock %}
    </main>

    {% block footer %}
        <footer class="page-footer p-2 m-2 bg-light border" style="font-size: 0.8rem;">
                <p>Aplicació creada per    
                <b><a href="" rel="author" hreflang="es">Carla Velasco</a></b> 
                a partir d'un projecte de classe. </p>
                <p>Desenvolupada en <b>Symfony</b> i <b>Bootstrap</b>.</p>
        </footer>
    {% endblock %}

{% endapply %}