{% extends 'email.html.twig' %}

{% block title %}Registro{% endblock %}

{% block main %}
    <div class="m-3 p-3 bg-white">
        <h2>Confirma el teu correu</h2>

        <p>Si us plau, confirma confirma la teva direcció de correu fent clic a l'enllaç següent:</p>
        <div class="text-center p-3 m-3">
            <a class="btn btn-primary" href="{{ signedUrl }}">
                Confirmar correu
            </a>.
        </div>
        <p>L'enllaç es caduca en
        {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
        <p>Gràcies.</p>
    </div>
{% endblock %}
